<div data-ng-controller="additem_detailCtrl">
    <ng-form enctype="multipart/form-data">
    <div class="form-group">
        <label>Item Title</label>
        <input type="text" class="form-control" data-ng-model="$scope.item.title" name ="title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" data-ng-model="$scope.item.category" name ="category" >
            <option data-ng-repeat="category in categories" value="{{category._id}}">{{category.title}}</option>
        </select>
    </div>  
    <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control" data-ng-model="$scope.item.description" name ="description" placeholder="Enter Item Description">
        </textarea>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" data-ng-model="$scope.item.price" name ="Price" placeholder="Enter Amount">
    </div>
    <div class="form-group">
        <label>Location</label>
        <select class="form-control" data-ng-model="$scope.item.geolocation" name ="location" >
            <option data-ng-repeat="location in locations" value="{{location.Province}}">{{location.Province}}</option>
        </select>
    </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a class="btn btn-danger" href='/'>Cancel</a>
    <ng-form>
</div>