<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

    </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           <li data-ng-repeat="i in vm.menuItems"
               data-ng-click="vm.isActive = $index" 
               data-ng-class="{active: $index == vm.isActive}">
                    <a ui-sref="{{i.name}}">{{i.data.menuName}}</a>
           </li>
          </ul>
    
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>

                </li>
                <li class="dropdown dropdown-big">
                    <a ng-href="" target="_blank">
                        <img src="/images/assets/icon.png" />
                    </a>
                </li>
                <li>
                    <a ng-href="" target="_blank">
                        <img src="/images/assets/icon.png"" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>