.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.thumb {
  width: 100px;
  height: 120px;
  float: none;
  position: relative;
  top: 17px;
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 500px;
  height: 350px;
}
.navbar {
  margin-bottom: 0px;
}
.gallery {
  text-align: "center";
}
.hidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.handOnHover {
  cursor: pointer;
}
.categoryButton {
  width: 140px;
}
.thumb {
  height: 100px;
  width: 100px;
}
