<div class="container" data-ng-controller="adminAddItemCtrl as vm">

<div data-ng-show="vm.message.show">
  <uib-alert type="{{vm.message.type}}">{{vm.message.content}}</uib-alert>
</div>

<h3>Post Item</h3>
<form data-ng-submit="vm.addItem(vm.picArray, vm.item);">
  <div class="form-group">
    <label>Item Title</label>
    <input type="text" class="form-control" data-ng-model="vm.item.title" 
        name ="title" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label>Category</label>
    <select class="form-control" data-ng-model="vm.item.category" name ="category" >
		<option data-ng-repeat="category in vm.categories" value="{{category.title}}">
            {{category.title}}
        </option>
	</select>
  </div>  
  <div class="form-group">
    <label>Description</label>
    <textarea type="text" class="form-control" data-ng-model="vm.item.description" 
        name ="description" placeholder="Enter Item Description">
	</textarea>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control" data-ng-model="vm.item.price" 
        name ="Price" placeholder="Enter Amount">
  </div>
  <div class="form-group">
    <label>Location</label>
    <select class="form-control" data-ng-model="vm.item.geolocation" name ="location" >
		<option data-ng-repeat="location in vm.locations" value="{{location.Province}}">
            {{location.Province}}
        </option>
	</select>
    <button type="submit" class="btn btn-default">Submit</button>
    <a class="btn btn-danger" href='/'>Cancel</a>
  </div>
</form>
    <!-- picture Gallery -->
            <div class="col-md-4 col-xs-12" data-ng-repeat="i in vm.picArray">
                <input type="file" ngf-select="vm.addPicture($file);" 
                    data-ng-model="vm.picFile[$index]" ngf-multiple="false" name="file" id="file"
                    accept="image/*" ngf-max-size="1MB" data-ng-hide="vm.picFile[$index]" require
                    class="inputfile" />
                <label for="file">Choose a file</label>
                <img ngf-src="vm.picFile[$index]" class="thumb" />
                <button data-ng-click="vm.removePic($index);"
                 data-ng-show="vm.picFie[$index]">Remove</button>
            </div>
{{errorMsg}}

    <div data-ng-repeat="i in vm.picArray">
        <div ngf-background="{{i}}"></div>
    </div>
</div>
</div>

    