<div class="container" data-ng-controller="adminViewItemCtrl as vm">

    <div data-ng-show="vm.message.show">
    <uib-alert type="{{vm.message.type}}">{{vm.message.content}}</uib-alert>
    </div>

    <h3>View Item</h3>

    <h4>Title</h4>
    <p>{{vm.item.title}}</p>

    <h4>Created On</h4>
    <p>{{vm.item.created | date:'medium'}}</p>
    
    <h4>Category</h4>
    <p>{{vm.item.category}}</p>
  
    <h4>Description</h4>
    <p>{{vm.item.description}}</p>  

    <h4>Price</h4>
    <p>{{vm.item.price}}</p>
  
    <h4>Location</h4>
    <p>{{vm.item.location}}</p>
    
    <button data-ng-click="vm.editItem(vm.item)" class="btn btn-default">Edit</button>
    <button type='button' class="btn btn-danger" data-ng-click="vm.cancelView()">Cancel</button>

    <div data-ng-show="vm.showImages" data-ng-repeat="image in vm.imageArray track by $index">
        <img ng-src="{{vm.imageArray[$index]}}" />
    </div>
    
</div>